<div class="card-ask">
  <p><%= @ask %> <br> - You</p>
</div>

<div class="card-answer">
  <p><%= @answer %> <br> - Your coach</p>
</div>

<%# <%= link_to "Ask a new question", ask_path %>

<a class="btn btn-primary" href="<%=ask_path %>">Ask a new question</a>
